<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic page needs
    ============================================ -->
    <title>Market</title>
    <meta charset="utf-8">
    <meta name="keywords"
          content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business"/>
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow"/>

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/assets/Customer/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/assets/Customer/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/assets/Customer/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/Customer/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/Customer/ico/favicon.png">

    <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="/assets/Customer/css/bootstrap/css/bootstrap.min.css">
    <link href="/assets/Customer/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/Customer/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/assets/Customer/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/assets/Customer/css/themecss/lib.css" rel="stylesheet">
    <link href="/assets/Customer/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="/assets/Customer/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="/assets/Customer/css/themecss/so-categories.css" rel="stylesheet">
    <link href="/assets/Customer/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="/assets/Customer/css/footer1.css" rel="stylesheet">
    <link href="/assets/Customer/css/header1.css" rel="stylesheet">
    <link id="color_scheme" href="/assets/Customer/css/theme.css" rel="stylesheet">

    <link href="/assets/Customer/css/responsive.css" rel="stylesheet">


</head>

<body class="res layout-subpage banners-effect-6">
<div id="wrapper" class="wrapper-full ">
    <!-- Header Container  -->
    <header id="header" class=" variantleft type_1">
        <!-- Header Top -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="header-top-right collapsed-block text-right  col-sm-6 col-xs-12 compact-hidden pull-right">
                        <h5 class="tabBlockTitle visible-xs">More<a class="expander " href="#TabBlock-1"><i
                                class="fa fa-angle-down"></i></a></h5>
                        <div class="tabBlock" id="TabBlock-1">
                            <ul class="top-link list-inline">
                                <li class="account" id="my_account">
                                    <a href="#" title="My Account" class="btn btn-xs dropdown-toggle"
                                       data-toggle="dropdown"> <span>My Account</span> <span
                                            class="fa fa-angle-down"></span></a>
                                    <ul class="dropdown-menu ">
                                        {{#if login}}
                                            <li><a href="/logout"><i class="fa fa-pencil-square-o"></i> Đăng xuất</a></li>
                                        {{else}}
                                            <li><a href="/login"><i class="fa fa-pencil-square-o"></i> Đăng nhập</a></li>
                                        {{/if}}
                                    </ul>
                                </li>
                                <li class="checkout"><a href="/checkout" class="top-link-checkout"
                                                        title="Checkout"><span>Thanh toán</span></a></li>
                                <li class="login"><a href="/cart"
                                                     title="Shopping Cart"><span>Giỏ hàng</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Header Top -->

        <!-- Header center -->
        <div class="header-center left">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="navbar-logo col-md-3 col-sm-12 col-xs-12">
                        <a href="index.html"><img src="/assets/Customer/image/demo/logos/theme_logo.png"
                                                  title="Your Store" alt="Your Store"/></a>
                    </div>
                    <!-- //end Logo -->

                    <!-- Secondary menu -->
                    <div class="col-md-2 col-sm-5 col-xs-12 shopping_cart pull-right">
                        <!--cart-->
                        <div id="cart" class=" btn-group btn-shopping-cart">
                            <a class="top_cart dropdown-toggle"
                               href="/cart">
                                <div class="shopcart" >
                                    <span class="handle pull-left" href="/cart"></span>
                                    <span class="title">My cart</span>
                                    <p class="text-shopping-cart cart-total-full"> {{cartLength}} - item(s)</p>
                                </div>
                            </a>
                        </div>
                        <!--//cart-->
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- //Header Container  -->

    {{{body}}}

    <!-- Footer Container -->
    <footer class="footer-container type_footer1">
        <!-- Footer Top Container -->
        <section class="footer-top">
            <div class="container content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 box-information">
                        <div class="module clearfix">
                            <h3 class="modtitle">Information</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="order-history.html">Order history</a></li>
                                    <li><a href="order-information.html">Order information</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 box-service">
                        <div class="module clearfix">
                            <h3 class="modtitle">Customer Service</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="return.html">Returns</a></li>
                                    <li><a href="sitemap.html">Site Map</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 box-account">
                        <div class="module clearfix">
                            <h3 class="modtitle">My Account</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="#">Brands</a></li>
                                    <li><a href="gift-voucher.html">Gift Vouchers</a></li>
                                    <li><a href="#">Affiliates</a></li>
                                    <li><a href="#">Specials</a></li>
                                    <li><a href="#" target="_blank">Our Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 collapsed-block ">
                        <div class="module clearfix">
                            <h3 class="modtitle">Contact Us </h3>
                            <div class="modcontent">
                                <ul class="contact-address">
                                    <li><span class="fa fa-map-marker"></span> My Company, 42 avenue des Champs
                                        Elysées 75000 Paris France
                                    </li>
                                    <li><span class="fa fa-envelope-o"></span> Email: <a href="#">
                                        sales@yourcompany.com</a></li>
                                    <li><span class="fa fa-phone">&nbsp;</span> Phone 1: 0123456789 <br>Phone 2:
                                        (123) 4567890
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Footer Top Container -->

        <!-- Footer Bottom Container -->
        <div class="footer-bottom-block ">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-5 copyright-text"> © 2016 Market. All Rights Reserved.</div>
                    <div class="col-sm-7">
                        <div class="block-payment text-right"><img
                                src="/assets/Customer/image/demo/content/payment.png" alt="payment"
                                title="payment"></div>
                    </div>
                    <!--Back To Top-->
                    <div class="back-to-top"><i class="fa fa-angle-up"></i><span> Top </span></div>

                </div>
            </div>
        </div>
        <!-- /Footer Bottom Container -->


    </footer>
    <!-- //end Footer Container -->

</div>


<!-- Cpanel Block -->
<div id="sp-cpanel_btn" class="isDown visible-lg">
    <i class="fa fa-cog"></i>
</div>

<!-- Include Libs & Plugins
    ============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/assets/Customer/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/assets/Customer/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/Customer/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/Customer/js/themejs/libs.js"></script>
<script type="text/javascript" src="/assets/Customer/js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="/assets/Customer/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript"
        src="/assets/Customer//assets/Customer/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="/assets/Customer/js/datetimepicker/moment.js"></script>
<script type="text/javascript"
        src="/assets/Customer/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/assets/Customer/js/jquery-ui/jquery-ui.min.js"></script>


<!-- Theme files
============================================ -->


<script type="text/javascript" src="/assets/Customer/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="/assets/Customer/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="/assets/Customer/js/themejs/application.js"></script>
<script type="text/javascript">
    // Check if Cookie exists
    if ($.cookie('display')) {
        view = $.cookie('display');
    } else {
        view = 'grid';
    }
    if (view) display(view);
    //--></script>
</body>
</html>