<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NhanVien</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"></span>
                    <span class="title">Thương hiệu</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="receipt-outline"></ion-icon></span>
                    <span class="title">Bán Hàng</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="storefront-outline"></ion-icon></span>
                    <span class="title">Kho</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="today-outline"></ion-icon></span>
                    <span class="title">Điểm danh</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                    <span class="title">Bảng lương</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title">Thiết lập</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="help-circle-outline"></ion-icon></span>
                    <span class="title">Trợ giúp</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- main -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <!-- search -->
            <div class="search">
                <label>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <ion-icon name="search-outline"></ion-icon>
                    <input type="text" placeholder="Tìm kiếm">
                </label>
            </div>
            <!-- userImg -->
            <div class="User">
                <img src="/public/images/User1.jpg" width="40" height="40">
            </div>
        </div>
        <!-- card -->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">xxxx</div>
                    <div class="cardName">Lượt xem</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="eye-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">xxxx</div>
                    <div class="cardName">Hàng bán</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="cart-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">xxxx</div>
                    <div class="cardName">Bình luận</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">xxxx</div>
                    <div class="cardName">Doanh thu</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="card-outline"></ion-icon>
                </div>
            </div>
        </div>
        <!-- data -->
        {{{body}}}
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    // menutoggle
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function(){
        navigation.classList.toggle('active');
        main.classList.toggle('active');
    }
    //
    let list = document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item)=>
                item.classList.remove('hovered'));
        this.classList.add('hovered');
    }
    list.forEach((item) =>
            item.addEventListener('mouseover',activeLink));
</script>
</body>
</html>

