<!--main content-->
<div class="page-content">
    <div class="main-wrapper">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card table-widget">
                    <form class="m-3">
                        <div class="row align-items-center">
                            <div class="col-6 h-100">
                                <input class="form-control" type="text"
                                       placeholder="Tra cứu theo mã đơn hàng.."
                                       id="search" aria-label="Search">
                            </div>
                            <div class="col-4">
                                <div class="form-floating">
                                    <select class="form-select text-center p-1" id="floatingSelect"
                                            aria-label="Floating label select">
                                        <option selected>Chọn cửa hàng</option>
                                        <option value="1">14 Nguyễn Văn Cừ</option>
                                        <option value="2">15 Nguyễn Văn Cừ</option>
                                        <option value="3">16 Nguyễn Văn Cừ</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-2">
                                <button type="button" class="btn btn-outline-primary m-b-xs">Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--pagination-->
                    <div class="text-center">
                        <ul class="pagination d-flex justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive fix-head">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Mã sản phẩm</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Số lượng tồn</th>
                                    <th scope="col">Đơn giá</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>#123</td>
                                    <td>Sô cô la</td>
                                    <td>25</td>
                                    <td>30. 000 vnđ</td>
                                </tr>
                                <tr>
                                    <td>#123</td>
                                    <td>Sô cô la</td>
                                    <td>25</td>
                                    <td>30. 000 vnđ</td>
                                </tr>
                                <tr>
                                    <td>#123</td>
                                    <td>Sô cô la</td>
                                    <td>25</td>
                                    <td>30. 000 vnđ</td>
                                </tr>
                                <tr>
                                    <td>#123</td>
                                    <td>Sô cô la</td>
                                    <td>25</td>
                                    <td>30. 000 vnđ</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

